body {
    background-color: #e1bee7; 
    color: #4a148c; 
    font-family: 'Press Start 2P', cursive; 
    margin: 0; 
    padding: 20px; 
}

h1, h2 {
    text-align: center; 
    color: #7e57c2; 
}

.container {
    max-width: 800px; 
    margin: auto; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    background-color: #ffffff; 
}

form {
    border: 2px solid #ce93d8; 
    border-radius: 10px; 
    padding: 20px; 
    background-color: #f3e5f5; 
}

label {
    display: block; 
    margin: 10px 0; 
    color: #6a1b9a; 
}

input[type="text"] {
    width: calc(100% - 22px); 
    padding: 10px; 
    border: 2px solid #ce93d8; 
    border-radius: 5px; 
    background-color: #ffffff; 
}

input[type="reset"],
input[type="submit"] {
    background-color: #ba68c8; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px; 
    cursor: pointer; 
    margin-top: 10px; 
    transition: background-color 0.3s, transform 0.2s; 
}

input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: #ab47bc; 
    transform: scale(1.05); 
}

a {
    display: block; 
    text-align: center; 
    margin-top: 20px; 
    color: #7e57c2; 
}

a:hover {
    text-decoration: underline; 
}

table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
}

th, td {
    border: 2px solid #ce93d8; 
    padding: 10px; 
    text-align: left; 
}

th {
    background-color: #f8bbd0; 
    color: #6a1b9a; 
}
