<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Emoji Set</title>
	<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">
</head>

<body>
	<h1>New Emoji Set</h1>
		<div>
			<h2><%-emojiSet%></h2>
		</div>

	<hr>
	<a href="/">HOME</a>

</body>

</html>



