<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Past Emoji Sets</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <h1>View Past Emoji Sets</h1>
        <form action="/prevResults" method="post"> 
            <label><b>User ID:</b> <input type="text" name="userId" required/></label>
            <input type="reset" value="Reset"/>
            <input type="submit" value="Submit"/>
        </form>
        <hr>
        <a href="/">HOME</a>
    </div>
</body>

</html>
