<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Past Emoji Sets</title>
	<style>
		body {
			background-color: #f8efff;
			color: black;
			font-family: 'Press Start 2P', cursive;
		}
	</style>
</head>

<body>
	<h1>View Past Emoji Sets</h1>
	<form action=<%- formAction %> method="post"> 
		<div style="border: 1px solid black; padding-left: 1rem; padding-top:0.5rem; padding-bottom: 1rem;">
			<label><b> User ID: </b> <input type="text" name="userId"/></label><br><br>
		</div>
		<br><br>
		<input type="reset" value="Reset"/>
		<input type="submit" value="Submit"/>
	</form>
	<hr>
	<a href="/">HOME</a>

</body>

</html>