<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Your Previous Emoji Sets</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <h1>Your Previously Created Emoji Sets</h1>
        <div id="EmojiTable">
            <%- displayTable %> 
        </div>
        <hr>
        <a href="/">HOME</a>
    </div>
</body>

</html>
