<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Past Emoji Sets</title>
    <style>
		body {
			background-color: #f8efff;
			color: black;
			font-family: 'Press Start 2P', cursive;
		}
	</style>
</head>

<body>
	<h1>Your Previously Created Emoji Sets</h1>
    <div id="EmojiTable">
        <%- displayTable %> 
    </div>
    <hr>
    <a href="/">HOME</a>

</body>

</html>