<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Past Emoji Sets</title>
	<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">
</head>

<body>
	<h1>Your Previously Created Emoji Sets</h1>
    <div id="EmojiTable">
        <%- displayTable %> 
    </div>
    <hr>
    <a href="/">HOME</a>

</body>

</html>



