<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Emoji Caption Generator</title>
	<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<h1>Welcome to Emoji Caption Generator!</h1>
	<h2>Generate Emoji Sets for Instagram Captions(or other uses)</h2>
	<ul><li>To create a new caption <a href="/create">Create Emoji Set</a></li>
		<li>To view previous captions you have generated <a href="/reviewCreations">View Past Emoji Sets</a></li>
	</ul>
	<hr>

</body>

</html>

